@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.button{
 padding: 20px; 
  margin:0 3px;
  width:66px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: aquamarine;
  font-size: large;
}
.row{
  margin: 8px 0;
}
.row input{
  font-size:23px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius:5px;
  background-color:  #e6e6e6;
}